{{!Screen class that sets window scaling}}
<div class="screen">

  {{!Contains header content box}}
  <div class="header-content-area">

    {{!Contians site title}}
    <div class="site-title">
      <LinkTo @route="login">CryptoConductor</LinkTo>
    </div>

    {{!Contains header links}}
    <div class="header-links">
      <LinksMenu/>
    </div>
  </div>
</div>
