<table>
  <tr>
    <td width="100px" align="center" style="border: 0px">Project</td>
    <td width="100px" align="center" style="border: 0px">Account</td>
    <td width="100px" align="center" style="border: 0px">Contact</td>
  </tr>
</table>
